@{
  Layout = "_Layout";
}

@using HairSalon.Models;
@using System.Collections.Generic;
@model HairSalon.Models.Stylist;

<h1>Stylist Details</h1>
<hr />
<h3>@Html.DisplayNameFor(model => model.LastName): @Html.DisplayFor(model => model.LastName)</h3>
<h3>@Html.DisplayNameFor(model => model.FirstName): @Html.DisplayFor(model => model.FirstName)</h3>

@* @if (@Model.Count == 0)
{
  <h3>No stylists have been added.</h3>
  <h2>@Html.ActionLink($"Add a Stylist", "Create")</h2>
}

<ul>
  @foreach(Stylist stylist in Model)
  {
    <li>@Html.ActionLink($"{stylist.LastName}, {stylist.FirstName}", "Details")</li>
  }

</ul> *@